*
{
    margin: 0;
    padding: 0;
}

/*conf. image in the background*/
header{
    
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/world.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Menu */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
}

/* avoid menu appears in a list form*/
.main-nav li{
    display: inline-block;
}

/*change color and other attr of the menu*/
.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px ;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

/* draw a box around the each item in the menu*/
.main-nav li.active a{
    border: 1px solid white;
}

.main-nav li a:hover{
    border: 1px solid white;
}

.logo img{
    width: 150px;
    height: auto;
    float: left;
}

body{
    font-family: monospace;
}

.row{
    max-width: 1200px;
    margin: auto;
}

/*tittle*/
.mainTitle{
    position: absolute;
    width: 1200px;
    height: 0px;
    margin-left: 0;
    margin-top: 0;
}

h1{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 275px;
}

/*Modify characteristics of my buttons
that appear on the center of my page*/
.button{
    margin-top: 30px;
    margin-left: 450px;
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one{
    /* background-color: blue; */
    font-family: "Roboto", sans-serif;
}

.btn-two{
    font-family: "Roboto", sans-serif;
}

.btn-two:hover{
    background-color: coral;
    transition: all 0.5s ease-in;

}

/* about */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/chart.jpg);
}

#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content{
    padding-top: 20px;
    text-align: justify;
}


#analysis{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../images/image02.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top:50px;
    padding-bottom: 50px;
}

#analysis h1{
    text-align: center;
    color: #efefef!important;
    padding-bottom: 10px;
}

/* underline */
#analysis h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.analysis{
    margin-top: 40px;
}

.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

#analysis p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.analysis .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s
}

/* analysisDataGDP  */
#analysisDataGDP{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #001b48!important;
    background-size: cover;
    
    /* background-position: center; */
}

.analysisDataGDP-content{
    padding-top: 20px;
    text-align: justify;
    color: #fbfcfd!important;
}

/* analysisHealth */
#analysisHealth{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #004581!important;
    background-size: cover;
    /* background-position: center; */
}


/* analysisMilitary */
#analysisMilitary{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #018abd!important;
    background-size: cover;
    /* background-position: center; */
}

/* Education Spending & Military Spending */
#analysisEduMil{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #97cbdc!important;
    background-size: cover;
    /* background-position: center; */
}

/* Healthcare Spending vs Military Spending */
#analysisHealthMilitary{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #76525c!important;
    background-size: cover;
    /* background-position: center; */
}

/* Education per capita vs GDP per Capita */
#analysisMilitaryEducation{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #5c3959!important;
    background-size: cover;
    /* background-position: center; */

}

/* Healthcare per capita vs GDP per Capita  */
#analysisHealthGDP{

    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #384c8b!important;
    background-size: cover;
    /* background-position: center; */

}

/* Military per capita vs GDP per Capita */
#analysisMilitaryGDP{

    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #142553!important;
    background-size: cover;
    /* background-position: center; */
}

/* Fastest growing countries in healthcare and educational spending in Fix */
#analysisFastFix{

    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #391924!important;
    background-size: cover;
    /* background-position: center; */

}

/* Fastest growing countries in healthcare and educational spending in % */
#analysisFastPerc{

    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    background-color: #142553!important;
    background-size: cover;
    /* background-position: center; */

}

